@import "tailwindcss";


.hero{
  width: screen;
  height: 100vh;
  background: radial-gradient(95% 85% at 50% 10%, #0d1a36 30%, #000000 100%);
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 7vh;

}
.hero button{
  background-color:#80808035;
  color: white;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover{
  color: black;
  background-color: white;
  box-shadow: 0 2px 20px white;
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.features{
  width: screen;
  height: 100vh;
  /* background: radial-gradient(125% 125% at 50% 10%, #000000 40%, #0d1a36 100%); */
  background-color: black;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 7vh;
}
#features-card{
  /* box-shadow: inset 0 4px 10px -1px #ffffff50; */
}
.about{
  width: screen;
  height: 100vh;
  background-color: black;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 7vh;
}
.testimonials{
  width: screen;
  height: 130vh;
  background-color: black;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 10vh;
}