@import "tailwindcss";


.hero{
  width: screen;
  height: 100vh;
  background: radial-gradient(125% 96% at 50% 10%, #000000 40%, #0d1a36 100%);
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 7vh;

}
.hero button{
  background-color: #484d8b50;
  color: white;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover{
  background-color: #484d8b;
}

@keyframes reveal {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.features{
  width: screen;
  height: 100vh;
  /* background: radial-gradient(125% 125% at 50% 10%, #000000 40%, #0d1a36 100%); */
  background-color: black;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 7vh;
}